<!-- this page will containe a table where we show the books + we can update or delete or show or create-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/nav.css">
    <title>gestionnaire cours</title>
    <style>
        .h1{
            text-align: center;
            margin-bottom: 100px;
            font-weight: bold;
            font-size: 3.6em;
        }
        .btn-add-section{
            text-align: center;
            margin-top: 200px;
        }
        .btn-add-section a{
            text-decoration: none;
            border: 2px solid black;
            border-radius: 50px;
            background-color: grey;
            color: white;
            width: 15%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar-section">
        <div class="logo">
            <a href="/">exo ejsExpress</a>
        </div>
        <a href="/cours">Cours</a>
        <a href="/gestionnaire_cours">Gestionnaire cours</a>
    </div>
    <div class="big-title">
        <p class="h1">gestionnaire cours :</p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>telecharger</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% 
            var i = 0;
            cours.forEach(element => {
                %>
                <tr>
                    <td><%= element.titre %></td>
                    <td><%= element.description %></td>
                    <td><a href="#"><%= element.url_telechargement %></a></td>
                    <td><a href="/gestionnaire_cours/delete/<%= i %>">supprimer</a>&nbsp;<a href="/gestionnaire_cours/update/<%= i %>">update</a></td>
                </tr>
                <%
            i++;
            }) %>
        </tbody>
    </table>

    <div class="btn-add-section">
        <a href="/gestionnaire_cours/ajouter_cours">ajouter un livre</a>
    </div>
 
    
</body>
</html>